*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.urmi{
    width: 100%;
    
}
p{
    padding: 100px;
    text-align: center;
    font-size: 54px;
    color: black;
    letter-spacing: 90px;
    filter: blur(15px);
    animation: myurmi 5s infinite;
}
@keyframes myurmi{
    from{
        letter-spacing: 90px;
        filter: blur(25px);
    }to{
        letter-spacing: 0px;
        filter: blur(0px);
    }
}
.name{
    color: red;
}
.image img{
    width: 300px;
    height: 300px;
}